* {
    box-sizing: border-box;
}
body{
    color: black;
    margin: 0;
    overflow-x: hidden;
    background: black;
    background-size: cover
}

      .navbar {
         width: 100%;
         float: left;
         margin: 0 0 5em 0;
         padding: 10;
         background-color: #f2f2f2;
         border-bottom: 5px solid #ccc;  }
      .navbar ul {
         list-style: none;
         width: 1000px;
         margin: 10 auto;
         padding: 0; }
      .navbar li {
         float: left; }
      .navbar li a {
         display: block;
         padding: 8px 15px;
         text-decoration: none;
         font-weight: bold;
         color: #069;
         border-right: 1px solid #ccc; }
      .navbar li:first-child a {
         border-left: 1px solid #ccc; }
      .navbar li a:hover {
         color: #c00;
         background-color: #fff; }

.text-right{
    text-align: right;
}

.center{
    text-align: center;
}
.italic{
    font-style: italic;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 img {
    max-width:100%;
    margin:auto;
    display:block;
 }
 
 .index.html {
    background-color: black;
    display: flex;
    background-image: url('img src="images\bfa.jpg"');

 }
 .projectoverview.html{ 
    background-color: black;
}
 .meettheteam.html{
    background-color: black;
   font-family: 'Times New Roman', Times, serif

 }
 .meettheteam{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 40px;
   margin-top: 50px;
}
.column{
   float:right;
   width:50%;
   padding:10px;
   text-align:center;
}
.container-2{
   float:center;
   width: 67%;
   padding:10px;
   text-align:center;
}
.column-2 {
   float: center;
   width: 100%;
   padding: 10px;
   text-align:center;
 }
 
 
 .row::after {
   content: "";
   clear: both;
   display: table;
 }
